[submodule "modules/Assimp"]
	path = modules/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "modules/Catch2"]
	path = modules/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "modules/SDL3"]
	path = modules/SDL3
	url = https://github.com/libsdl-org/SDL
[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/Ygrik2003/imgui
