[submodule "modules/SDL"]
	path = modules/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = d4bc393
[submodule "modules/Assimp"]
	path = modules/Assimp
	url = https://github.com/assimp/assimp.git
