name: CMake

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

vars:
  use_boost: false

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: |
        - ${{ if vars.use_boost }}:
          - script: "sudo apt install libboost-all-dev"
        sudo apt install ninja-build
        cmake --preset CMakePresets.json --preset=ninja -DBoost_EXAMPLE={{ vars.use_boost }}
        cmake --build --preset CMakePresets.json --preset=ninja

    - name: Default HelloWolrd
    
      run: ./out/build/ninja/01-1-hello-world/01-1-hello-world

    - name: Static HelloWolrd
    
      run: ./out/build/ninja/01-2-hello-world-lib/bin/01-2-hello-world-static
    
    - name: Dynamic HelloWolrd
    
      run: ./out/build/ninja/01-2-hello-world-lib/bin/01-2-hello-world-dynamic
      
  # windows-build:
  #   runs-on: windows-latest

  #   steps:
  #   - uses: actions/checkout@v3

  #   - name: Configure CMake
  #     run: |
  #       cmake --preset CMakePresets.json --preset=ninja -DBoost_EXAMPLE=FALSE
  #       cmake --build --preset CMakePresets.json --preset=ninja

  #   - name: Default HelloWolrd
  #     run: ./out/build/ninja/01-1-hello-world/01-1-hello-world

  #   - name: Static HelloWolrd
  #     run: ./out/build/ninja/01-2-hello-world-lib/bin/01-2-hello-world-static
    
  #   - name: Dynamic HelloWolrd
  #     run: ./out/build/ninja/01-2-hello-world-lib/bin/01-2-hello-world-dynamic
      